In [1]:
import pandas as pd

In [28]:
df = pd.read_csv("https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-10.csv.gz")

In [29]:
print(df)

        dispatching_base_num      pickup_datetime     dropOff_datetime  \
0                     B00009  2019-10-01 00:23:00  2019-10-01 00:35:00
1                     B00013  2019-10-01 00:11:29  2019-10-01 00:13:22
2                     B00014  2019-10-01 00:11:43  2019-10-01 00:37:20
3                     B00014  2019-10-01 00:56:29  2019-10-01 00:57:47
4                     B00014  2019-10-01 00:23:09  2019-10-01 00:28:27
...                      ...                  ...                  ...
1897488               B03160  2019-10-31 23:38:00  2019-10-31 23:48:00
1897489               B03160  2019-10-31 23:11:00  2019-10-31 23:43:00
1897490               B03160  2019-10-31 23:13:00  2019-10-31 23:41:00
1897491               B03186  2019-10-31 23:02:32  2019-10-31 23:09:53
1897492               B03186  2019-10-31 23:19:24  2019-10-31 23:24:31

         PUlocationID  DOlocationID  SR_Flag Affiliated_base_number
0               264.0         264.0      NaN                 B00009
1               264.0         264.0      NaN                 B00013
2               264.0         264.0      NaN                 B00014
3               264.0         264.0      NaN                 B00014
4               264.0         264.0      NaN                 B00014
...               ...           ...      ...                    ...
1897488         242.0          81.0      NaN                 B02887
1897489         161.0          28.0      NaN                 B02883
1897490         168.0         215.0      NaN                 B02883
1897491         264.0         119.0      NaN                 B03186
1897492         264.0         119.0      NaN                 B03186

[1897493 rows x 7 columns]

In [16]:
print(df.dtypes)

VendorID                 float64
tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count          float64
trip_distance            float64
RatecodeID               float64
store_and_fwd_flag        object
PULocationID               int64
DOLocationID               int64
payment_type             float64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
congestion_surcharge     float64
dtype: object

In [24]:
df = df.astype({'VendorID': 'Int64',
'lpep_pickup_datetime': 'datetime64',
'lpep_dropoff_datetime': 'datetime64',
'store_and_fwd_flag': 'object',
'RatecodeID': 'Int64',
'PULocationID':'Int64',
'DOLocationID': 'Int64',
'passenger_count': 'Int64',
'trip_distance': 'float64',
'fare_amount': 'float64',
'extra': 'float64',
'mta_tax': 'float64',
'tip_amount': 'float64',
'tolls_amount': 'float64',
'ehail_fee': 'float64',
'improvement_surcharge': 'float64',
'total_amount': 'float64',
'payment_type': 'Int64',
'trip_type': 'Int64',
'congestion_surcharge': 'float64'})

In [25]:
print(df)

        VendorID lpep_pickup_datetime lpep_dropoff_datetime  \
0              2  2020-03-01 00:20:18   2020-03-01 00:45:29
1              2  2020-03-01 00:15:42   2020-03-01 00:44:36
2              2  2020-03-01 00:36:18   2020-03-01 00:41:03
3              1  2020-03-01 00:22:14   2020-03-01 00:32:57
4              2  2020-03-01 00:07:22   2020-03-01 00:14:16
...          ...                  ...                   ...
223401      <NA>  2020-03-31 22:00:00   2020-03-31 22:13:00
223402      <NA>  2020-03-31 23:21:00   2020-03-31 23:35:00
223403      <NA>  2020-03-31 23:38:00   2020-03-31 23:50:00
223404      <NA>  2020-03-31 23:13:00   2020-03-31 23:42:00
223405      <NA>  2020-03-31 23:55:00   2020-04-01 00:15:00

       store_and_fwd_flag  RatecodeID  PULocationID  DOLocationID  \
0                       N           1            41            13
1                       N           1           181           107
2                       N           1            41           166
3                       N           1           129             7
4                       N           1            74           152
...                   ...         ...           ...           ...
223401                NaN        <NA>           173            82
223402                NaN        <NA>           159           241
223403                NaN        <NA>            19            64
223404                NaN        <NA>           222            97
223405                NaN        <NA>           247            81

        passenger_count  trip_distance  fare_amount  extra  mta_tax  \
0                     1           8.24        26.50    0.5      0.5
1                     1           4.87        21.00    0.5      0.5
2                     1           0.69         5.00    0.5      0.5
3                     1           1.80         9.00    0.5      0.5
4                     1           1.25         7.00    0.5      0.5
...                 ...            ...          ...    ...      ...
223401             <NA>           2.28        10.00    0.0      0.0
223402             <NA>           5.29        15.44    0.0      0.0
223403             <NA>           3.16        14.32    0.0      0.0
223404             <NA>           7.87        62.37    0.0      0.0
223405             <NA>           8.44        17.94    0.0      0.0

        tip_amount  tolls_amount  ehail_fee  improvement_surcharge  \
0             7.64           0.0        NaN                    0.3
1             0.00           0.0        NaN                    0.3
2             0.00           0.0        NaN                    0.3
3             0.00           0.0        NaN                    0.3
4             2.49           0.0        NaN                    0.3
...            ...           ...        ...                    ...
223401        2.06           0.0        NaN                    0.3
223402        0.00           0.0        NaN                    0.3
223403        0.00           0.0        NaN                    0.3
223404        0.00           0.0        NaN                    0.3
223405        0.00           0.0        NaN                    0.3

        total_amount  payment_type  trip_type  congestion_surcharge
0              38.19             1          1                  2.75
1              25.05             2          1                  2.75
2               6.30             2          1                  0.00
3              10.30             2          1                  0.00
4              10.79             1          1                  0.00
...              ...           ...        ...                   ...
223401         12.36          <NA>       <NA>                   NaN
223402         15.74          <NA>       <NA>                   NaN
223403         14.62          <NA>       <NA>                   NaN
223404         62.67          <NA>       <NA>                   NaN
223405         18.24          <NA>       <NA>                   NaN

[223406 rows x 20 columns]

In [26]:
print(df.dtypes)

VendorID                          Int64
lpep_pickup_datetime     datetime64[ns]
lpep_dropoff_datetime    datetime64[ns]
store_and_fwd_flag               object
RatecodeID                        Int64
PULocationID                      Int64
DOLocationID                      Int64
passenger_count                   Int64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                      Int64
trip_type                         Int64
congestion_surcharge            float64
dtype: object

In [10]:
print(df.dtypes.to_dict())

{'VendorID': Int64Dtype(), 'tpep_pickup_datetime': dtype('O'), 'tpep_dropoff_datetime': dtype('O'), 'passenger_count': dtype('float64'), 'trip_distance': dtype('float64'), 'RatecodeID': dtype('float64'), 'store_and_fwd_flag': dtype('O'), 'PULocationID': dtype('int64'), 'DOLocationID': dtype('int64'), 'payment_type': dtype('float64'), 'fare_amount': dtype('float64'), 'extra': dtype('float64'), 'mta_tax': dtype('float64'), 'tip_amount': dtype('float64'), 'tolls_amount': dtype('float64'), 'improvement_surcharge': dtype('float64'), 'total_amount': dtype('float64'), 'congestion_surcharge': dtype('float64')}

In [30]:
print(df.dtypes.apply(lambda x: x.name).to_dict())

{'dispatching_base_num': 'object', 'pickup_datetime': 'object', 'dropOff_datetime': 'object', 'PUlocationID': 'float64', 'DOlocationID': 'float64', 'SR_Flag': 'float64', 'Affiliated_base_number': 'object'}

In [12]:
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])

In [27]:
print(df.dtypes)

VendorID                          Int64
lpep_pickup_datetime     datetime64[ns]
lpep_dropoff_datetime    datetime64[ns]
store_and_fwd_flag               object
RatecodeID                        Int64
PULocationID                      Int64
DOLocationID                      Int64
passenger_count                   Int64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                      Int64
trip_type                         Int64
congestion_surcharge            float64
dtype: object