In [32]:
import pandas as pd
import numpy as np

In [35]:
df = pd.read_csv("https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2020-11.csv.gz",                        dtype = {
                            'VendorID': np.int64,
                            'lpep_pickup_datetime': str,
                            'lpep_dropoff_datetime': str,
                            'store_and_fwd_flag': str,
                            'RatecodeID': float,
                            'PULocationID': int,
                            'DOLocationID': int,
                            'passenger_count': float,
                            'trip_distance': float,
                            'fare_amount': float,
                            'extra': float,
                            'mta_tax': float,
                            'tip_amount': float,
                            'tolls_amount': float,
                            'ehail_fee': float,
                            'improvement_surcharge': float,
                            'total_amount': float,
                            'payment_type': float,
                            'trip_type': float,
                            'congestion_surcharge': float,
                            })

ValueError: Integer column has NA values in column 0

In [28]:
print(df)

       VendorID lpep_pickup_datetime lpep_dropoff_datetime store_and_fwd_flag  \
0           2.0  2020-11-01 00:08:23   2020-11-01 00:32:03                  N
1           2.0  2020-11-01 00:23:32   2020-11-01 00:32:10                  N
2           2.0  2020-11-01 00:43:14   2020-11-01 00:54:54                  N
3           2.0  2020-11-01 00:33:13   2020-11-01 00:47:23                  N
4           2.0  2020-11-01 00:49:28   2020-11-01 00:53:54                  N
...         ...                  ...                   ...                ...
88600       NaN  2020-11-30 23:06:00   2020-11-30 23:18:00                NaN
88601       NaN  2020-11-30 23:24:00   2020-11-30 23:43:00                NaN
88602       NaN  2020-11-30 23:59:00   2020-12-01 00:32:00                NaN
88603       NaN  2020-11-30 23:53:00   2020-12-01 00:10:00                NaN
88604       NaN  2020-11-30 23:04:00   2020-11-30 23:10:00                NaN

       RatecodeID  PULocationID  DOLocationID  passenger_count  trip_distance  \
0             5.0            97            75              1.0          10.49
1             1.0            41           127              1.0           4.52
2             1.0            42           213              1.0           6.51
3             1.0            78           212              1.0           1.95
4             1.0           134           134              2.0           1.02
...           ...           ...           ...              ...            ...
88600         NaN           168           235              NaN           3.99
88601         NaN           212            41              NaN           6.41
88602         NaN            37           117              NaN          11.90
88603         NaN           247           259              NaN           8.08
88604         NaN           146           226              NaN           1.42

       fare_amount  extra  mta_tax  tip_amount  tolls_amount  ehail_fee  \
0            28.03    0.0      0.0        3.40          0.00        NaN
1            14.00    0.5      0.5        1.00          0.00        NaN
2            19.50    0.5      0.5        0.00          0.00        NaN
3            11.00    0.5      0.5        0.00          0.00        NaN
4             5.50    0.5      0.5        0.00          0.00        NaN
...            ...    ...      ...         ...           ...        ...
88600        18.52    0.0      0.0        2.75          0.00        NaN
88601        26.83    0.0      0.0        2.75          6.12        NaN
88602        46.56    0.0      0.0        2.75          2.29        NaN
88603        31.31    0.0      0.0        2.75          0.00        NaN
88604         8.41    0.0      0.0        4.78          0.00        NaN

       improvement_surcharge  total_amount  payment_type  trip_type  \
0                        0.3         34.48           1.0        1.0
1                        0.3         16.30           1.0        1.0
2                        0.3         20.80           1.0        1.0
3                        0.3         12.30           2.0        1.0
4                        0.3          6.80           2.0        1.0
...                      ...           ...           ...        ...
88600                    0.3         21.57           NaN        NaN
88601                    0.3         36.00           NaN        NaN
88602                    0.3         51.90           NaN        NaN
88603                    0.3         34.36           NaN        NaN
88604                    0.3         13.49           NaN        NaN

       congestion_surcharge
0                      2.75
1                      0.00
2                      0.00
3                      0.00
4                      0.00
...                     ...
88600                   NaN
88601                   NaN
88602                   NaN
88603                   NaN
88604                   NaN

[88605 rows x 20 columns]

In [9]:
print(f"columns: {df.dtypes}")

columns: VendorID                 float64
lpep_pickup_datetime      object
lpep_dropoff_datetime     object
store_and_fwd_flag        object
RatecodeID               float64
PULocationID               int64
DOLocationID               int64
passenger_count          float64
trip_distance            float64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
ehail_fee                float64
improvement_surcharge    float64
total_amount             float64
payment_type             float64
trip_type                float64
congestion_surcharge     float64
dtype: object

In [10]:
df = pd.read_csv("https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2020-07.csv.gz")

/tmp/ipykernel_296475/936803209.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2020-07.csv.gz")

In [11]:
print(df)

        VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0            1.0  2020-07-01 00:25:32   2020-07-01 00:33:39              1.0
1            1.0  2020-07-01 00:03:19   2020-07-01 00:25:43              1.0
2            2.0  2020-07-01 00:15:11   2020-07-01 00:29:24              1.0
3            2.0  2020-07-01 00:30:49   2020-07-01 00:38:26              1.0
4            2.0  2020-07-01 00:31:26   2020-07-01 00:38:02              1.0
...          ...                  ...                   ...              ...
800407       NaN  2020-07-19 13:27:52   2020-07-19 14:22:15              NaN
800408       NaN  2020-07-19 13:02:00   2020-07-19 13:21:00              NaN
800409       NaN  2020-07-19 13:32:00   2020-07-19 13:51:00              NaN
800410       NaN  2020-07-19 13:28:00   2020-07-19 13:51:00              NaN
800411       NaN  2020-07-19 13:31:23   2020-07-19 13:58:22              NaN

        trip_distance  RatecodeID store_and_fwd_flag  PULocationID  \
0                1.50         1.0                  N           238
1                9.50         1.0                  N           138
2                5.85         1.0                  N           230
3                1.90         1.0                  N            88
4                1.25         1.0                  N            37
...               ...         ...                ...           ...
800407          24.23         NaN                NaN            65
800408           4.40         NaN                NaN            17
800409           8.78         NaN                NaN           186
800410           6.50         NaN                NaN           148
800411          10.88         NaN                NaN           264

        DOLocationID  payment_type  fare_amount  extra  mta_tax  tip_amount  \
0                 75           2.0         8.00    0.5      0.5        0.00
1                216           1.0        26.50    0.5      0.5        0.00
2                 88           2.0        18.50    0.5      0.5        0.00
3                232           1.0         8.00    0.5      0.5        2.36
4                 17           2.0         6.50    0.5      0.5        0.00
...              ...           ...          ...    ...      ...         ...
800407            86           NaN        79.95    0.0      0.5        2.75
800408            35           NaN        16.23    0.0      0.5        2.75
800409           244           NaN        34.90    0.0      0.5        2.75
800410           190           NaN        18.75    0.0      0.5        7.72
800411           213           NaN        48.35    0.0      0.5        2.75

        tolls_amount  improvement_surcharge  total_amount  \
0                0.0                    0.3          9.30
1                0.0                    0.3         27.80
2                0.0                    0.3         22.30
3                0.0                    0.3         14.16
4                0.0                    0.3          7.80
...              ...                    ...           ...
800407           0.0                    0.3         83.50
800408           0.0                    0.3         19.78
800409           0.0                    0.3         38.45
800410           0.0                    0.3         29.77
800411           0.0                    0.3         51.90

        congestion_surcharge
0                        0.0
1                        0.0
2                        2.5
3                        2.5
4                        0.0
...                      ...
800407                   0.0
800408                   0.0
800409                   0.0
800410                   2.5
800411                   0.0

[800412 rows x 18 columns]

In [12]:
print(f"columns: {df.dtypes}")

columns: VendorID                 float64
tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count          float64
trip_distance            float64
RatecodeID               float64
store_and_fwd_flag        object
PULocationID               int64
DOLocationID               int64
payment_type             float64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
congestion_surcharge     float64
dtype: object

In [23]:
df = pd.read_csv("https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2020-02.csv.gz", names = ['dispatching_base_num', 'pickup_datetime','dropOff_datetime', 'PULocationID', 'DOLocationID','SR_Flag','Affiliated_base_number'], header=0, encoding='latin1')

In [24]:
print(df)

        dispatching_base_num      pickup_datetime     dropOff_datetime  \
0                     B00013  2020-02-01 00:48:10  2020-02-01 01:34:36
1                     B00013  2020-02-01 00:35:50  2020-02-01 01:18:05
2                     B00014  2020-02-01 00:57:13  2020-02-01 01:10:06
3                     B00014  2020-02-01 00:19:21  2020-02-01 01:04:40
4                     B00014  2020-02-01 00:44:34  2020-02-01 00:57:04
...                      ...                  ...                  ...
1910152               B03284  2020-02-29 23:12:03  2020-03-01 00:38:01
1910153               B03284  2020-02-29 23:30:44  2020-02-29 23:34:27
1910154               B03284  2020-02-29 23:39:55  2020-02-29 23:44:03
1910155               B03284  2020-02-29 23:22:23  2020-02-29 23:51:03
1910156               B03284  2020-02-29 23:08:41  2020-02-29 23:29:02

         PULocationID  DOLocationID  SR_Flag Affiliated_base_number
0               264.0         264.0      NaN                 B00013
1               264.0         264.0      NaN                 B00013
2               264.0         264.0      NaN                 B00014
3               264.0         264.0      NaN                 B00014
4               264.0         264.0      NaN                 B00014
...               ...           ...      ...                    ...
1910152          48.0          39.0      NaN                    NaN
1910153          71.0          71.0      NaN                    NaN
1910154          71.0          71.0      NaN                    NaN
1910155         197.0          22.0      NaN                    NaN
1910156          41.0         168.0      NaN                    NaN

[1910157 rows x 7 columns]

In [8]:
print(df.dtypes)

dispatching_base_num       object
pickup_datetime            object
dropOff_datetime           object
PUlocationID              float64
DOlocationID              float64
SR_Flag                   float64
Affiliated_base_number     object
dtype: object

In [21]:
df = pd.read_csv("https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2020-02.csv.gz")

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xa0 in position 41721: invalid start byte