In [3]:
import pandas as pd

In [4]:
pd.__version__

'1.4.4'

In [11]:
df = pd.read_parquet("data/yellow/yellow_tripdata_2019-11.parquet")

In [12]:
print(df)

        VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0              1  2019-11-01 00:30:41   2019-11-01 00:32:25              1.0
1              1  2019-11-01 00:34:01   2019-11-01 00:34:09              1.0
2              2  2019-11-01 00:41:59   2019-11-01 00:42:23              1.0
3              2  2019-11-01 00:02:39   2019-11-01 00:02:51              1.0
4              2  2019-11-01 00:18:30   2019-11-01 00:18:39              2.0
...          ...                  ...                   ...              ...
6878106     None  2019-11-27 12:57:00   2019-11-27 13:06:00              NaN
6878107     None  2019-11-27 12:23:00   2019-11-27 12:38:00              NaN
6878108     None  2019-11-27 12:11:00   2019-11-27 12:44:00              NaN
6878109     None  2019-11-27 12:46:42   2019-11-27 13:30:58              NaN
6878110     None  2019-11-27 12:53:00   2019-11-27 13:07:00              NaN

         trip_distance  RatecodeID store_and_fwd_flag  PULocationID  \
0                 0.00         1.0                  N           145
1                 0.00         1.0                  N           145
2                 0.00         1.0                  N           193
3                 0.00         1.0                  N           193
4                 0.00         1.0                  N           226
...                ...         ...                ...           ...
6878106          -0.83         NaN               None            62
6878107           2.23         NaN               None            91
6878108           8.60         NaN               None           142
6878109          11.27         NaN               None           137
6878110           7.48         NaN               None           108

         DOLocationID  payment_type  fare_amount  extra  mta_tax  tip_amount  \
0                 145           2.0         3.00   0.50      0.5        0.00
1                 145           2.0         2.50   0.50      0.5        0.00
2                 193           1.0         2.50   0.50      0.5        0.95
3                 193           1.0         2.50   0.50      0.5        0.95
4                 226           2.0         2.50   0.00      0.5        0.00
...               ...           ...          ...    ...      ...         ...
6878106            89           NaN        20.87   2.75      0.5        0.00
6878107            71           NaN        17.44   2.75      0.5        0.00
6878108            33           NaN        42.95   2.75      0.5        0.00
6878109           180           NaN        40.03   2.75      0.0        0.00
6878110           228           NaN        23.36   2.75      0.5        0.00

         tolls_amount  improvement_surcharge  total_amount  \
0                0.00                    0.3          4.30
1                0.00                    0.3          3.80
2                0.00                    0.3          4.75
3                0.00                    0.3          4.75
4                0.00                    0.3          3.30
...               ...                    ...           ...
6878106          0.00                    0.3         24.42
6878107          0.00                    0.3         20.99
6878108          0.00                    0.3         46.50
6878109          6.12                    0.3         49.20
6878110          0.00                    0.3         26.91

         congestion_surcharge
0                         0.0
1                         0.0
2                         0.0
3                         0.0
4                         0.0
...                       ...
6878106                   0.0
6878107                   0.0
6878108                   0.0
6878109                   0.0
6878110                   0.0

[6878111 rows x 18 columns]

In [8]:
print(df.dtypes)

VendorID                         object
tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                 float64
trip_distance                   float64
RatecodeID                        int64
store_and_fwd_flag               object
PULocationID                      int64
DOLocationID                      int64
payment_type                    float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
dtype: object